p img{
    max-height: 400px;
    max-width: 200px;
}

p {
   font-size: 12.5px;
}
.content{
    background-color: rgba(253, 252, 249, 0.603);
    padding: 4%;
}
#language_and_tool img{
    margin: .35em;
}