img:hover{
    opacity: 1.0;
    background-color:#75bbb9;
}

footer{
    color: white;
    background-color: #37c0bc;
}
footer img{
    align-items: center;
    width: 30px;
    height: 30px;
    aspect-ratio: 1.0;
    /* background-color: rgb(59, 59, 59);
} */}

a{
    color: white;
    margin-right: 5px;
}