.About{
    margin-top: 1000px;
    margin-bottom: 100px;
}
.Portfolio{
    margin-top: 400px;
    margin-bottom: 100px;
}
body{
    background-image: url(assets/images/bodybg.jpg);
    background-position: top;
    background-size: contain;
}